body {
    background: #f3f4f5 !important;
    font-family: 'Roboto Condensed', 'Noto Sans KR';
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    pointer-events: none;
    opacity: 0;
}

.content-view {
    background-color: white;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    margin: 5px;
}

.content-header {
    height: 36px;
    border-bottom: 1px solid #ECECEC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-items: center;
}

.rel {
    position: relative;
}

.abs-fill {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.font-dark {
    color: #262524 !important;
}

.font-view-title {
    font-size: 1rem;
    font-weight: bold;
}
